body {
  /* font-family: "DM Sans", "sans-serif"; */
  font-family: GothamBook;
  background-color: #fafafa;
}

.fs-resp-1 {
  font-size: 4vmax;
}

.fs-lg-3 {
  font-size: 2rem;
}

.bg-img {
  padding: 0;
  overflow: hidden;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.text-container {
  margin-top: 10vw;
}

.row-page {
  height: 100vh;
}

.copy-clipboard {
  cursor: pointer;
}

.bg-white {
  background-color: white;
}

@media (max-width: 768px) {
  .fs-resp-1 {
    font-size: calc(4vmax+10em);
  }

  .body {
    text-align: center;
  }

  table {
    margin: 0 auto;
  }

  .col-img {
    height: 30vh;
  }

  .col-text {
    padding: 0;
    background-color: white;
  }

  .text-container {
    text-align: center;
  }

  .logo-img {
    max-width: 80%;
  }

  #form-drop-contact {
    margin: auto;
  }
}
