<!-- PAGE 2 DROP CONTACT FORM -->
<div class="row row-page mb-2">
    <div class='col-md-6 col-12 bg-white'>
        <img class='bg-img' src='./assets/image/laptop-wallpaper.jpg'>
    </div>

    <div class='col-md-6 col-12 col-text'>
        <div class='text-container'>
            <div class='fw-bold fs-lg-3 mb-5'>Dapatkan informasi terbaru</div>
            <div class='fs-5' style='margin-bottom:3.5vw;'>
                Subscribe dan dapatkan informasi terkini tentang Voxlink
            </div>
        
            <form id='form-drop-contact' style='width: 80%;'>
                <div class='input-group'>
                    <input name='email' class='form-control form-drop-contact-input' type='email' aria-describedby="emailHelp" autoComplete='off' placeholder='Email' required/>
                    <button type='submit' name='submit' id='form-drop-contact-submit' class='btn btn-secondary' style='width:4.5em;'>
                        <i class="bi bi-envelope fs-3 mb-3"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- PAGE 3 CONTACT US -->
<div class="row row-page">

    <div class='col-md-8 col-12 col-text' style='padding: 4em;'>
        <div class='text-container'>
            <div class='fw-bold fs-lg-3 mb-5'>Kontak Kami</div>
            <div class='fs-5' style='margin-bottom:3.5vw;'>
                PT Lima Satu Tiga Global Tel-Access Astoria Building, Jalan TB Simatupang No. 22, 
                Pasar Rebo, Ciracas, Jakarta Timur 13830
            </div>
            
            <table style='margin-bottom: 20%;'>
                <tbody>
                    <tr>
                        <td><i class="bi bi-envelope fs-1 mb-3"></i></td>
                        <td class='fs-3 ps-4'>info@voxlink.id</td>
                    </tr>
                    <tr >
                        <td><i class="bi bi-telephone fs-1 mb-6"></i></td>
                        <td class='fs-3 ps-4'>(6221) 31110444</td>
                    </tr>
                </tbody>
            </table>

            <table>
                <tbody>
                    <tr>
                        <td><img class='logo-img' src='./assets/image/voxlink-full.png' style='width: 16rem'></td>
                        <td><a href='https://www.voxnet.id/' target="_blank"><img class='logo-img' src='./assets/image/voxnet-full-2.png' style='width: 16rem'></a></td>
                    </tr>
                    <tr>
                        <td class='text-end fs-4 pe-4'>Imagined by</td>
                        <td><a href='https://www.513solution.com/' target="_blank"><img class='logo-img' src='./assets/image/513-full.png' style='width: 16rem'></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class='col-md-4 col-12 bg-white'>
        <!-- <img class='bg-img' src='./assets/image/laptop-wallpaper.jpg'> -->
    </div>

</div>